# AirBnB NY Locations Data Case Study

In this final project, you task will be to take the data provided and find evidance to answer the following questions.

1. Which hosts are the busiest and why?
2. How many neighborhood groups are available and which shows up the most?
3. Are private rooms the most popular in manhattan?
4. Which hosts are the busiest and based on their reviews?
5. Which neighorhood group has the highest average price?
6. Which neighborhood group has the highest total price?
7. Which top 5 hosts have the highest total price?
8. Who currently has no (zero) availability with a review count of 100 or more?
9. What host has the highest total of prices and where are they located?
10. When did Danielle from Queens last receive a review?

You will be given **4 hours** to complete this assignment. 
**Be Advised** I will go dark for this intire assignment time period. That said, any questions that you would like to ask about the data, or the project **MUST** be asked before the time starts. Once the time has started, I can no longer give information.

This is to similate what you will face when you are out in the wild. 

Happy Coding!

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
air_bnb = pd.read_csv('./AB_NYC_2019.csv')
air_bnb.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [4]:
air_bnb.info() #Perform basic query to get basic (db) info on the dataset (e.g., records, primary key(s), etc.)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB

In [121]:
# How many neighborhood groups are available and which shows up the most?
  
    
nh_groups = air_bnb.groupby('neighbourhood_group').neighbourhood_group.count().sort_values(ascending=False) 
#Use combo groupby query in descending order. and count() on 'neighbourhood_group' column and use format string
print(f"There are {len(nh_groups)} neighbourhood groups available and {nh_groups.keys()[0]} shows up the most with {nh_groups[0]}.")

There are 5 neighbourhood groups available and Manhattan shows up the most with 21661.

In [34]:
# Are private rooms the most popular in manhattan?
room_type = air_bnb.query("neighbourhood_group == 'Manhattan'").groupby('room_type').room_type.count()

room_type

room_type
Entire home/apt    13199
Private room        7982
Shared room          480
Name: room_type, dtype: int64

In [35]:
#Perform similar query on 'room_type' column and use format string to answer the question. 
print(f"No, {room_type.keys()[0]} are the most popular with {room_type[0]} bookings.")

No, Entire home/apt are the most popular with 13199 bookings.

In [41]:
# Which hosts are the busiest and based on their reviews?
ten_busiest_overall_hosts = air_bnb.groupby('host_name').number_of_reviews.sum().nlargest(10)

ten_busiest_overall_hosts

host_name
Michael    11081
David       8103
John        7223
Jason       6522
Alex        6204
Chris       5028
Anna        4799
Eric        4733
Daniel      4723
Sarah       4579
Name: number_of_reviews, dtype: int64

In [40]:
ten_busiest_host_on_average = air_bnb.groupby('host_name').reviews_per_month.sum().nlargest(10)

ten_busiest_host_on_average

host_name
David           508.61
Michael         475.82
Alex            443.44
Sonder (NYC)    397.56
John            321.02
Maria           288.39
Anna            229.99
Andrew          199.35
Jason           196.15
Sam             190.27
Name: reviews_per_month, dtype: float64

In [42]:
#Which neighborhood group has the highest average price?
air_bnb.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [50]:
highest_avg_price = air_bnb.groupby('neighbourhood_group').price.mean().nlargest()

highest_avg_price

print(f"{highest_avg_price.keys()[0]} has the highest average price with ${round(highest_avg_price[0],2)}.")

Manhattan has the highest average price with $196.88.

In [64]:
# Which neighbor hood group has the highest total price?
highest_tot_price = air_bnb.groupby('neighbourhood_group').price.sum().nlargest()
highest_tot_price

neighbourhood_group
Manhattan        4264527
Brooklyn         2500600
Queens            563867
Bronx              95459
Staten Island      42825
Name: price, dtype: int64

In [66]:
#Which top 5 hosts have the highest total price?

top_five_hosts = air_bnb.groupby('host_name').price.sum().nlargest(5)
top_five_hosts

host_name
Sonder (NYC)    82795
Blueground      70331
Michael         66895
David           65844
Alex            52563
Name: price, dtype: int64

In [74]:
# Who currently has no (zero) availability with a review count of 100 or more?
zero_100 = air_bnb.query("availability_365 == 0 and number_of_reviews >= 100")
zero_100

print(f"There are {len(zero_100)} AirBnB hosts with zero availability and a rating greater than 100.")

There are 162 AirBnB hosts with zero availability and a rating greater than 100.

In [82]:
# What host has the highest total of prices and where are they located?
most_successful_host = air_bnb.groupby(['host_name', 'neighbourhood']).price.sum().nlargest(1)

most_successful_host

host_name     neighbourhood
Sonder (NYC)  Financial District    57738
Name: price, dtype: int64

IndexError: invalid index to scalar variable.

In [90]:
# When did Danielle from Queens last receive a review?

last_review = air_bnb.query("host_name == 'Danielle' and neighbourhood_group == 'Queens'").last_review.sort_values(ascending=False)
last_review

22469    2019-07-08
21517    2019-07-07
22068    2019-07-06
20403    2019-07-06
7086     2019-07-03
33861    2019-06-20
27021    2018-01-02
16349           NaN
Name: last_review, dtype: object

Danielle last received a review on 22469    2019-07-08
21517    2019-07-07
22068    2019-07-06
20403    2019-07-06
7086     2019-07-03
33861    2019-06-20
27021    2018-01-02
16349           NaN
Name: last_review, dtype: object

## Further Questions

1. Which host has the most listings?

In [111]:
air_bnb.groupby('host_name').id.count().nlargest(10)

host_name
Michael         417
David           403
Sonder (NYC)    327
John            294
Alex            279
Blueground      232
Sarah           227
Daniel          226
Jessica         205
Maria           204
Name: id, dtype: int64

2. How many listings have completely open availability?

In [116]:
open_avail = air_bnb.query("availability_365 == '365'").id.count()

open_avail

1295

3. What room_types have the highest review numbers?

In [120]:
highest_rev = air_bnb.groupby('room_type').number_of_reviews.sum()
highest_rev

room_type
Entire home/apt    580403
Private room       538346
Shared room         19256
Name: number_of_reviews, dtype: int64

# Final Conclusion

In this cell, write your final conclusion for each of the questions asked.

Also, if you uncovered some more details that were not asked above, please discribe them here.

-- Add your conclusion --

In [ ]:
#Conclusions:
#1. Manhattan has the most AirBnBs of the five boroughs while Staten Island has the fewest. It also has the highest average price and generates the most revenue.
#2. Entire homes/apartments are the most popular AirBnB type.
#3. The financial district has the highest total prices; the reasons for which could be the following:
    #a. The property prices in the financial district are some of the most expensive in Manhattan and the owners have to compensate with higher listings. 
    #b. The financial district is one of the most desirable places to stay in Manhattan. 
    
#4. The